.mButton {
    padding: 8px 20px;
    box-sizing: border-box;
    border-radius: var(--m-button-borderRadius);
    background-color: var(--m-button-default-backgroundColor);
    display: inline-flex;
    font-size: var(--m-button-fontSize);
    transition: transform 0.2s, box-shadow 0.4s, background-color 0.3s, color 0.3s;

    &:not([disabled=true]):hover {
        transform: translateY(-2px);
        cursor: pointer;
        box-shadow: 0px 4px 30px var(--m-button-default-hover-boxShadowColor);
    }

    &:not([disabled=true]):active {
        transform: scale(0.95);
        cursor: pointer;
        box-shadow: 0px 4px 30px var(--m-button-default-active-boxShadowColor);
        background-color: var(--m-button-default-active-backgroundColor);
        color: var(--m-button-default-active-textColor);
    }

    &[disabled=true] {
        background-color: var(--m-button-default-disabled-backgroundColor);
        color: var(--m-button-default-disabled-textColor)
    }

    &[type=outlined] {
        background-color: transparent;
        border: 1.5px solid var(--m-button-outlined-borderColor);
        transition: border 0.2s, background-color 0.2s;

        &:not([disabled=true]):hover {
            box-shadow: none;
            background-color: var(--m-button-outlined-hover-backgroundColor);
            color: var(--m-button-outlined-hover-textColor);
            transform: none;
        }

        &:not([disabled=true]):active {
            background-color: var(--m-button-outlined-active-backgroundColor);
            border: 1.5px solid var(--m-button-outlined-active-borderColor);
        }

        &[disabled=true] {
            border: 1.5px solid var(--m-button-outlined-disabled-borderColor);
            color: var(--m-button-outlined-disabled-textColor)
        }
    }

    &[type=text] {
        background-color: transparent;
        transition: background-color 0.2s, color 0.2s;

        &:not([disabled=true]):hover {
            box-shadow: none;
            transform: none;
            background-color: var(--m-button-text-hover-backgroundColor);
        }

        &:not([disabled=true]):active {
            background-color: var(--m-button-text-active-backgroundColor);
        }

        &[disabled=true] {
            color: var(--m-button-outlined-disabled-textColor)
        }
    }
}