/*只允许出现theme级别变量的引用。*/
:root {
    --m-theme-color: #2EA2F9;
    --m-translucency-theme-color: #2ea1f9d6;
    --m-button-default-textColor: black;
    --m-button-default-backgroundColor: white;
    --m-button-default-hover-boxShadowColor: rgba(70, 70, 70, 0.237);
    --m-button-default-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-button-default-active-backgroundColor: var(--m-theme-color);
    --m-button-default-active-textColor: white;
    --m-button-default-disabled-backgroundColor: #EFEFEF;
    --m-button-default-disabled-textColor: #BABABA;
    --m-button-outlined-textColor: black;
    --m-button-outlined-borderColor: black;
    --m-button-outlined-hover-backgroundColor: black;
    --m-button-outlined-hover-textColor: white;
    --m-button-outlined-active-backgroundColor: #555555;
    --m-button-outlined-active-borderColor: #555555;
    --m-button-outlined-disabled-borderColor: #EFEFEF;
    --m-button-outlined-disabled-textColor: #BABABA;
    --m-button-text-textColor: black;
    --m-button-text-hover-backgroundColor: #EFEFEF;
    --m-button-text-active-backgroundColor: #EFEFEF;
    --m-icon-button-default-backgroundColor: white;
    --m-icon-button-default-hover-boxShadowColor: rgba(70, 70, 70, 0.237);
    --m-icon-button-default-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-icon-button-default-active-backgroundColor: var(--m-theme-color);
    --m-icon-button-default-active-textColor: white;
    --m-icon-button-default-disabled-backgroundColor: #EFEFEF;
    --m-icon-button-default-disabled-textColor: #BABABA;
    --m-icon-button-outlined-borderColor: black;
    --m-icon-button-outlined-hover-backgroundColor: black;
    --m-icon-button-outlined-hover-textColor: white;
    --m-icon-button-outlined-active-backgroundColor: #555555;
    --m-icon-button-outlined-active-borderColor: #555555;
    --m-icon-button-outlined-disabled-borderColor: #EFEFEF;
    --m-icon-button-outlined-disabled-textColor: #BABABA;
    --m-icon-button-text-hover-backgroundColor: #EFEFEF;
    --m-icon-button-text-active-backgroundColor: var(--m-theme-color);
    --m-fab-backgroundColor: white;
    --m-fab-hover-boxShadowColor: rgba(70, 70, 70, 0.237);
    --m-fab-hover-backgroundColor: rgb(247, 247, 247);
    --m-fab-active-backgroundColor: var(--m-theme-color);
    --m-fab-active-color: white;
    --m-fab-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-fab-disabled-backgroundColor: #EFEFEF;
    --m-fab-disabled-textColor: #BABABA;
    --m-checkbox-borderColor: black;
    --m-checkbox-checked-color: var(--m-theme-color);
    --m-checkbox-checked-svg-color: white;
    --m-checkbox-disabled-color: #BABABA;
    --m-checkbox-checked-indeterminate-color: rgb(131, 130, 130);
    --m-radio-borderColor: black;
    --m-radio-checked-color: var(--m-theme-color);
    --m-radio-disabled-color: #BABABA;
    --m-slider-backgroundColor: #EFEFEF;
    --m-slider-slider-backgroundColor: var(--m-theme-color);
    --m-slider-hiddenlabel-color: gray;
    --m-slider-label-color: rgb(255, 255, 255);
    --m-segmented-button-backgroundColor: white;
    --m-segmented-button-slider-backgroundColor: var(--m-theme-color);
    --m-segmented-button-slider-hover-boxShadowColor: var(--m-translucency-theme-color);
    --m-segmented-button-item-hover-backgroundColor: #F2F2F2;
    --m-segmented-button-item-active-backgroundColor: #e2e2e2;
    --m-linear-progress-thumb-color: #EFEFEF;
    --m-linear-progress-value-color: var(--m-theme-color);
}

body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #F7F7F7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:not(:defined) {
    display: none;
}