@mixin dark {
    --m-dark-theme-color: #0076d1;
    --m-dark-translucency-theme-color: #0069b9d6;
    --m-dark-selection-backgroundColor: var(--m-translucency-theme-color);
    --m-dark-selection-textColor: white;
    --m-dark-backgroundColor: #171717;
    --m-dark-textColor: rgb(255, 255, 255);
    --m-dark-button-default-textColor: rgb(255, 255, 255);
    --m-dark-button-default-backgroundColor: rgb(0, 0, 0);
    --m-dark-button-default-hover-boxShadowColor: rgba(70, 70, 70, 0);
    --m-dark-button-default-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-dark-button-default-active-backgroundColor: var(--m-theme-color);
    --m-dark-button-default-active-textColor: white;
    --m-dark-button-default-disabled-backgroundColor: #242424;
    --m-dark-button-default-disabled-textColor: #BABABA;
    --m-dark-button-outlined-textColor: var(--m-theme-color);
    --m-dark-button-outlined-borderColor: var(--m-theme-color);
    --m-dark-button-outlined-hover-backgroundColor: var(--m-theme-color);
    --m-dark-button-outlined-hover-textColor: white;
    --m-dark-button-outlined-disabled-borderColor: #242424;
    --m-dark-button-outlined-disabled-textColor: #242424;
    --m-dark-button-text-textColor: rgb(255, 255, 255);
    --m-dark-button-text-hover-backgroundColor: #1b1b1b;
    --m-dark-button-text-active-backgroundColor: var(--m-theme-color);
    --m-dark-button-filled-backgroundColor: var(--m-theme-color);
    --m-dark-button-filled-textColor: white;
    --m-dark-button-filled-disabled-backgroundColor: #242424;
    --m-dark-button-filled-disabled-textColor: #BABABA;
    --m-dark-icon-button-default-backgroundColor: rgb(0, 0, 0);
    --m-dark-icon-button-default-hover-boxShadowColor: rgba(70, 70, 70, 0);
    --m-dark-icon-button-default-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-dark-icon-button-default-active-backgroundColor: var(--m-theme-color);
    --m-dark-icon-button-default-active-textColor: white;
    --m-dark-icon-button-default-disabled-backgroundColor: #242424;
    --m-dark-icon-button-default-disabled-textColor: #BABABA;
    --m-dark-icon-button-outlined-borderColor: var(--m-theme-color);
    --m-dark-icon-button-outlined-hover-backgroundColor: var(--m-theme-color);
    --m-dark-icon-button-outlined-hover-textColor: white;
    --m-dark-icon-button-outlined-disabled-borderColor: #242424;
    --m-dark-icon-button-outlined-disabled-textColor: #242424;
    --m-dark-icon-button-outlined-color: var(--m-theme-color);
    --m-dark-icon-button-text-hover-backgroundColor: #1b1b1b;
    --m-dark-icon-button-text-active-backgroundColor: var(--m-theme-color);
    --m-dark-icon-button-filled-backgroundColor: var(--m-theme-color);
    --m-dark-icon-button-filled-textColor: white;
    --m-dark-icon-button-filled-disabled-backgroundColor: #242424;
    --m-dark-icon-button-filled-disabled-textColor: #BABABA;
    --m-dark-fab-backgroundColor: rgb(0, 0, 0);
    --m-dark-fab-hover-boxShadowColor: rgba(70, 70, 70, 0);
    --m-dark-fab-hover-backgroundColor: rgb(0, 0, 0);
    --m-dark-fab-active-backgroundColor: var(--m-theme-color);
    --m-dark-fab-active-color: white;
    --m-dark-fab-active-boxShadowColor: var(--m-translucency-theme-color);
    --m-dark-fab-disabled-backgroundColor: #242424;
    --m-dark-fab-disabled-textColor: #BABABA;
    --m-dark-checkbox-borderColor: rgb(255, 255, 255);
    --m-dark-checkbox-checked-color: var(--m-theme-color);
    --m-dark-checkbox-checked-svg-color: white;
    --m-dark-checkbox-disabled-color: #242424;
    --m-dark-checkbox-checked-indeterminate-color: rgb(87, 87, 87);
    --m-dark-radio-borderColor: rgb(255, 255, 255);
    --m-dark-radio-checked-color: var(--m-theme-color);
    --m-dark-radio-disabled-color: #BABABA;
    --m-dark-slider-backgroundColor: #000000;
    --m-dark-slider-slider-backgroundColor: var(--m-theme-color);
    --m-dark-slider-hiddenlabel-color: gray;
    --m-dark-slider-label-color: rgb(255, 255, 255);
    --m-dark-segmented-button-backgroundColor: rgb(0, 0, 0);
    --m-dark-segmented-button-slider-backgroundColor: var(--m-theme-color);
    --m-dark-segmented-button-slider-hover-boxShadowColor: var(--m-translucency-theme-color);
    --m-dark-segmented-button-item-hover-backgroundColor: #111111;
    --m-dark-segmented-button-item-active-backgroundColor: #1a1a1a;
    --m-dark-linear-progress-thumb-color: #000000;
    --m-dark-linear-progress-value-color: var(--m-theme-color);
    --m-dark-circular-progress-fillColor: var(--m-theme-color);
    --m-dark-switch-trigger-backgroundColor: rgb(255, 255, 255);
    --m-dark-switch-checked-backgroundColor: var(--m-theme-color);
    --m-dark-switch-checked-foreColor: var(--m-theme-color);
    --m-dark-switch-backgroundColor: #3b3b3b;
    --m-dark-switch-disabled-backgroundColor: #242424;
    --m-dark-switch-disabled-trigger-foreColor: white;
    --m-dark-switch-disabled-trigger-backgroundColor: #7c7c7c;
    --m-dark-input-backgroundColor: rgb(0, 0, 0);
    --m-dark-input-selection-backgroundColor: var(--m-selection-backgroundColor);
    --m-dark-input-selection-textColor: var(--m-selection-textColor);
    --m-dark-input-default-label-color: rgb(178, 178, 178);
    --m-dark-input-focused-label-color: var(--m-theme-color);
    --m-dark-input-focused-icon-color: var(--m-theme-color);
    --m-dark-input-focused-outline-color: var(--m-translucency-theme-color);
    --m-dark-input-disabled-label-color: rgb(178, 178, 178);
    --m-dark-input-disabled-backgroundColor: #121212;
    --m-dark-input-disabled-color: rgb(178, 178, 178);
    --m-dark-input-readonly-color: rgb(178, 178, 178);
    --m-dark-input-error-outline-color: rgba(255, 0, 0, 0.507);
    --m-dark-input-error-label-color: rgba(255, 0, 0, 0.507);
    --m-dark-input-textColor: white;
    --m-dark-textarea-default-backgroundColor: rgb(0, 0, 0);
    --m-dark-textarea-textColor: white;
    --m-dark-textarea-default-label-color: rgb(178, 178, 178);
    --m-dark-textarea-focused-label-color: var(--m-theme-color);
    --m-dark-textarea-focused-outline-color: var(--m-translucency-theme-color);
    --m-dark-textarea-disabled-backgroundColor: #121212;
    --m-dark-textarea-disabled-label-color: rgb(178, 178, 178);
    --m-dark-textarea-readonly-color: rgb(178, 178, 178);
    --m-dark-textarea-error-outline-color: rgba(255, 0, 0, 0.507);
    --m-dark-textarea-error-label-color: rgba(255, 0, 0, 0.507);
    --m-dark-picker-default-view-backgroundColor: rgb(0, 0, 0);
    --m-dark-picker-default-label-color: rgb(178, 178, 178);
    --m-dark-picker-default-text-color: rgb(255, 255, 255);
    --m-dark-picker-default-icon-color: rgb(255, 255, 255);
    --m-dark-picker-focused-label-color: var(--m-theme-color);
    --m-dark-picker-focused-outline-color: var(--m-translucency-theme-color);
    --m-dark-picker-default-options-backgroundColor: rgb(0, 0, 0);
    --m-dark-picker-default-options-boxShadow-color: rgba(89, 89, 89, 0);
    --m-dark-picker-item-backgroundColor: rgb(0, 0, 0);
    --m-dark-picker-item-color: rgb(255, 255, 255);
    --m-dark-picker-item-selected-backgroundColor: var(--m-theme-color);
    --m-dark-picker-item-selected-color: white;
    --m-dark-picker-item-disabled-backgroundColor: #121212;
    --m-dark-picker-item-disabled-color: gray;
    --m-dark-picker-disabled-view-backgroundColor: #121212;
    --m-dark-picker-disabled-view-color: #BABABA;
}